.footer{
    background-color: $black;
    border-top: 1px solid $yellow;
    &__container{
        padding: 52px 0 42px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        @media (max-width: 1190px){
            column-gap: 5px;
        }
        @media (max-width: 700px){
            flex-direction: column;
            row-gap: 20px;
        }
        @media (max-width: 700px){
            padding: 35px 0 25px 0;
        }
    }
    &__descr{
        display: flex;
        align-items: center;
        column-gap: 51px;
        flex-wrap: wrap;
        @media (max-width: 1080px){
            row-gap: 20px;
        }
        @media (max-width: 700px){
            flex-direction: column;
        }
    }
    &__button{
        border-radius: 5px;
        padding: 20px 21px;
        margin-right: 10px;
        white-space: nowrap;
        font-size: 14px;
        @media (max-width: 1190px){
            font-size: 12px;
        }
    }
    &__logo{
        margin-right: 40px;
        @media (max-width: 1080px){
            flex: 0 1 70%;
            margin-right: 10px;
        }
        @media (max-width: 1190px){
            svg{
                max-width: 120px;
            }
        }
    }
}
.descr-item{
    &__text{
        line-height: 167.5%;
        color: $white;
        margin-top: 5px;
    }
    &__number,
    &__adress,
    &__email{
        position: relative;
        font-weight: 700;
        font-size: 20px;
        line-height: 167.5%;
        color: $white;
        font-family: 'Gilroy', sans-serif;
        &::before{
            position: absolute;
            content: '';
            left: -18%;
            bottom: 20%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
.footer__social{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-title{
        line-height: 167.5%;
        color: $white;
        margin-bottom: 15px;
        white-space: nowrap;
        @media (max-width: 1190px){
            font-size: 14px;
        }
    }
}
.social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 28px;
    @media (max-width: 1190px){
        column-gap: 20px;     
    }
    &__item{
        transition: stroke 0.3s ease-out;
        @media(any-hover:hover){
            &:hover{
                path{
                    stroke: $yellow;
                }
            }
        }
    }
}
.descr-item__adress::before{
    background-image: url('../images/footer/adress.svg');
    width: 18px;
    height: 24px;
}
.descr-item__number::before{
    background-image: url('../images/footer/phone.svg');
    width: 20px;
    height: 20px; 
}
.descr-item__email::before{
    background-image: url('../images/footer/email.svg');
    width: 20px;
    height: 15px;  
    bottom: 25%;   
}
.copyright{
    border-top: 1px solid $yellow;
    padding: 15px 0;
    background-color: $black;
    display: block;
    text-align: center;
    font-size: 10px;
    line-height: 243%;
    color: $yellow;
}