.review{
    border-top: 1px solid $yellow;
    padding: 40px 0 52px 0;
    background-color: $black;
    &__items{
        margin-top: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        flex-wrap: wrap;
        row-gap: 50px;
        text-align: center;
    }
    &__item-stars{
        margin-bottom: 10px;
    }
    &__item-text{
        display: block;
        font-size: 16px;
        line-height: 180%;
        color: $white;
        margin-bottom: 20px;
        @media (max-width: 780px){
            font-size: 14px;
        }
    }
    &__item-author{
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 180%;
        color: $yellow;
        font-family: 'Gilroy', sans-serif;
        @media (max-width: 780px){
            font-size: 14px;
        }
    }
    &__links{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 45px;
        @media(max-width:$md4){
            flex-direction: column;
        }
    }
}

.review__item:nth-child(n + 4){
    display: none;
}
.review__item, .review__item.visible{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    padding: 20px 15px;
    background-color: $lightblack;
    border-radius: 5px;
    height: 268px;
    overflow: auto;
    @media (max-width: 780px){
        max-width: 325px;
        padding: 25px 20px;
    }
    @media (max-width: 680px){
        max-width: 350px;
    }
}
